$dinamicH: 100px;

@media (orientation: landscape){
    $dinamicH: 100vh !global;
}
@media (orientation: portrait) {
    $dinamicH: auto !global;
}

@font-face {
    font-family: "Lato";
    src: local("Lato"),
     url("../fonts/lato/Lato-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "LatoBold";
    src: local("LatoBold"),
     url("../fonts/lato/Lato-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto"),
     url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

body {
    font-family: 'Open Sans', sans-serif;
    height: 100%
}

@import "~bootstrap/scss/bootstrap";

